<div class="modal fade" id="modal-default-delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Default Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deseja realmente excluir este(s) registro(s)?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="ConfirmaExcluir(registro)">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<script>
    
function ShowModalConfirmaDeletar(registro) {
    $("#modal-default-delete").modal('show');
}


</script>