@model Controle_Estoque_Basico.ViewModels.ProdutosViewModel

@{
    ViewData["Title"] = "Novo Produto";
}
<script src="~/theme/plugins/jquery/jquery.min.js"></script>
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-12">
                <div class="col-sm-12">
                    <h1 class="text-center">@ViewData["Title"]</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form enctype="multipart/form-data" asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input hidden asp-for="Produto.PRO_ID" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="form-group col-md-4 pr-md-1">
                                    <label asp-for="Produto.PRO_IDCATEGORIA" class="control-label">Categorias</label>
                                    <select asp-for="Produto.PRO_IDCATEGORIA" asp-items="@(new SelectList(Model.Categorias,"CAT_ID", "CAT_NOME"))" class="form-control select2" data-toggle="select2"></select>
                                </div>
                                <div class="form-group col-md-4 pr-md-1">
                                    <label asp-for="Produto.PRO_NOME" class="control-label"></label>
                                    <input asp-for="Produto.PRO_NOME" class="form-control" />
                                    <span asp-validation-for="Produto.PRO_NOME" class="text-danger"></span>
                                </div>

                                <div class="form-group col-md-4 pr-md-1">
                                    <label asp-for="Produto.PRO_DESCRICAO" class="control-label"></label>
                                    <input asp-for="Produto.PRO_DESCRICAO" class="form-control" />
                                    <span asp-validation-for="Produto.PRO_DESCRICAO" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4 pr-md-1">
                                    <label asp-for="Produto.PRO_QUANTIDADE" class="control-label"></label>
                                    <input asp-for="Produto.PRO_QUANTIDADE" class="form-control" />
                                    <span asp-validation-for="Produto.PRO_QUANTIDADE" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-2 pr-md-1">
                                    <label asp-for="Produto.PRO_DATAENTRADA" class="control-label"></label>
                                    <input asp-for="Produto.PRO_DATAENTRADA" class="form-control" type="date" />
                                    <span asp-validation-for="Produto.PRO_DATAENTRADA" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-2 pr-md-1">
                                    <label asp-for="Produto.PRO_VALIDADE" class="control-label"></label>
                                    <input asp-for="Produto.PRO_VALIDADE" class="form-control" type="date" />
                                    <span asp-validation-for="Produto.PRO_VALIDADE" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="ImagemProdutoViewModel" class="control-label"></label>
                                        <div class="custom-file">
                                            <input asp-for="ImagemProdutoViewModel" class="custom-file-input" id="customFile">
                                            <label class="custom-file-label" for="customFile">Selecione o arquivo</label>
                                        </div>
                                        <span asp-validation-for="ImagemProdutoViewModel" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 pr-md-1">
                                    <a asp-action="Index" class="btn bg-gradient-danger">Cancelar</a>
                                    <input type="submit" value="Salvar" class="btn btn-outline-success" />
                                </div>

                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/ViewsJs/ProdutosJs/Produtos.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    
    }
