@model Controle_Estoque_Basico.Models.Produto

@{
    ViewData["Title"] = "Editar Produto";
}

<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-12">
                <div class="col-sm-12">
                    <h1 class="text-center">@ViewData["Title"]</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-12">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row">
                                    <div class="row col-md-12">
                                        <input type="hidden" asp-for="PRO_ID" />
                                        <div class="form-group col-md-4 pr-md-1">
                                            <label asp-for="PRO_NOME" class="control-label"></label>
                                            <input asp-for="PRO_NOME" class="form-control" />
                                            <span asp-validation-for="PRO_NOME" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-4 pr-md-1">
                                            <label asp-for="PRO_DESCRICAO" class="control-label"></label>
                                            <input asp-for="PRO_DESCRICAO" class="form-control" />
                                            <span asp-validation-for="PRO_DESCRICAO" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-4 pr-md-1">
                                            <label asp-for="PRO_QUANTIDADE" class="control-label"></label>
                                            <input asp-for="PRO_QUANTIDADE" class="form-control" />
                                            <span asp-validation-for="PRO_QUANTIDADE" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row col-md-12">
                                        <div class="form-group col-md-2 pr-md-1">
                                            <label asp-for="PRO_DATAENTRADA" class="control-label"></label>
                                            <input asp-for="PRO_DATAENTRADA" class="form-control" type="date" />
                                            <span asp-validation-for="PRO_DATAENTRADA" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-2 pr-md-1">
                                            <label asp-for="PRO_VALIDADE" class="control-label"></label>
                                            <input asp-for="PRO_VALIDADE" class="form-control" type="date" />
                                            <span asp-validation-for="PRO_VALIDADE" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 pr-md-1">
                                    <a asp-action="Index" class="btn bg-gradient-danger">Cancelar</a>
                                    <input type="submit" value="Salvar" class="btn btn-outline-success" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
