
@model IEnumerable<Controle_Estoque_Basico.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
}

<div class="content-wrapper">
  

    <div class="content">
          <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-12">
                <div class="col-sm-12">
                    <h1 class="text-center">@ViewData["Title"]</h1>
                </div>
            </div>
        </div>
    </section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="btn-group">
                                <a asp-action="Create" class="btn bg-gradient-primary">Novo Produto</a>
                                <a class="btn bg-gradient-danger" onclick="ExcluirProdutosIndex()">Excluir</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body" id="listaProdutosRegistros">                            
                            <partial name="ListaProdutosPartial" model="Model" />  
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


@await Html.PartialAsync("ModalBaixaProdutos")

<script src="~/theme/plugins/jquery/jquery.min.js"></script>
<script src="~/ViewsJs/ProdutosJs/Produtos.js"></script>

